<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong>Link Imagem:</strong>
  <%= @coin.url_imagem %>
</p>

<%= link_to 'Editar', edit_coin_path(@coin) %> |
<%= link_to 'Voltar', coins_path %>
